  <div class="row footer-panel">
    <div class="small-12 columns text-center">
	    &copy; {{ site.title }} | 
         <a href="http://eepurl.com/bd_kjr" target="_blank" title="Mailchimp link">Mailing List</a> |
	 <a class="item" href="mailto:{{ site.email }}" target="_blank">Booking</i></a></li>
    </div>
    <div class="small-12 columns">
      <!-- Social media icons -->
      <ul class="inline-list menu-list">
	{% if site.facebook_url %}
	<li><a class="item" href="{{ site.facebook_url }}" target="_blank"><i class="fi-social-facebook"></i></a></li>
	{% endif %}
	{% if site.twitter_username %}
	<li><a class="item" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fi-social-twitter"></i></a></li>
	{% endif %}
	{% if site.youtube_url %}
	<li><a class="item" href="{{ site.youtube_url }}" target="_blank"><i class="fi-social-youtube"></i></a></li>
	{% endif %}
	{% if show_rss %}
	<li><a class="item" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="fi-rss"></i></a></li> 
	{% endif %}
      </ul>
    </div>
  </div>
    
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
